<ion-header>
  <ion-toolbar class="ion-text-center" expand="block" fill="outline">
    <ion-icon name="home" slot="end" size="large" color="success"></ion-icon>
    <img src="assets/imagem/exx1.PNG" slot="start">
    <ion-title>
      <h3>
        <font color="green">AGRICULTURA</font>
      </h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
    <ion-label position="stacked"></ion-label><!--input com color-->
    <ion-icon name="search" size="large" color="danger">
      </ion-icon><ion-input color="danger" type="search" placeholder="Digite sua semente"></ion-input>
    
  </ion-item>


  <BR>
  <!--ALGODÃO-->
  <BR>
  <ion-fab vertical="start" size="large">
    <ion-fab-button color="success">
      <img src="assets/imagem/algodao.jpg">
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item href="/algodao" expand="block" fill="outline">
      <ion-icon name="send" slot="start"></ion-icon>
      <Font color="green"><b>A L G O D Ã O</b></Font>
      <ion-badge color="dark" slot="end"></ion-badge>
    </ion-item>
  </ion-list>
  <!--BATATA-->
  <BR>
  <ion-fab vertical="start" size="large">
    <ion-fab-button color="success">
      <img src="assets/imagem/batata.jpg">
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item href="" expand="block" fill="outline">
      <ion-icon name="send" slot="start"></ion-icon>
      <Font color="green"><b>B A T A T A</b></Font>
      <ion-badge color="dark" slot="end"></ion-badge>
    </ion-item>
  </ion-list>


  <!--CAFE-->
  <BR>
  <ion-fab vertical="start" size="large">
    <ion-fab-button color="success">
      <img src="assets/imagem/cafe.jpg">
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item href="" expand="block" fill="outline">
      <ion-icon name="send" slot="start"></ion-icon>
      <Font color="green"><b>C A F É</b></Font>
      <ion-badge color="dark" slot="end"></ion-badge>
    </ion-item>
  </ion-list>

  <!--CANA DE AÇUCAR-->
  <BR>
  <ion-fab vertical="start" size="large">
    <ion-fab-button color="success">
      <img src="assets/imagem/cana.jpg">
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item href="" expand="block" fill="outline">
      <ion-icon name="send" slot="start"></ion-icon>
      <Font color="green"><b>C A N A DE A Ç U C A R</b></Font>
      <ion-badge color="dark" slot="end"></ion-badge>
    </ion-item>
  </ion-list>

  <!--FEIJÃO-->
  <BR>
  <ion-fab vertical="start" size="large">
    <ion-fab-button color="success">
      <img src="assets/imagem/feijao.jpg">
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item href="" expand="block" fill="outline">
      <ion-icon name="send" slot="start"></ion-icon>
      <Font color="green"><b>F E I J Ã O</b></Font>
      <ion-badge color="dark" slot="end"></ion-badge>
    </ion-item>
  </ion-list>

  <!--MILHO-->
  <BR>
  <ion-fab vertical="start" size="large">
    <ion-fab-button color="success">
      <img src="assets/imagem/milho.jpg">
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item href="" expand="block" fill="outline">
      <ion-icon name="send" slot="start"></ion-icon>
      <Font color="green"><b>M I L H O</b></Font>
      <ion-badge color="dark" slot="end"></ion-badge>
    </ion-item>
  </ion-list>
  <!--SOJA-->
  <BR>
  <ion-fab vertical="start" size="large">
    <ion-fab-button color="success">
      <img src="assets/imagem/soja1.PNG">
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item href="" expand="block" fill="outline">
      <ion-icon name="send" slot="start"></ion-icon>
      <Font color="green"><b>S O J A</b></Font>
      <ion-badge color="dark" slot="end"></ion-badge>
    </ion-item>
  </ion-list>

  <!--TOMATE-->
  <BR>
  <ion-fab vertical="start" size="large">
    <ion-fab-button color="success">
      <img src="assets/imagem/tomate.jpg">
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item href="" expand="block" fill="outline">
      <ion-icon name="send" slot="start"></ion-icon>
      <Font color="green"><b>T O M A T E</b></Font>
      <ion-badge color="dark" slot="end"></ion-badge>
    </ion-item>
  </ion-list>

  <!--TRIGO-->
  <BR>
  <ion-fab vertical="start" size="large">
    <ion-fab-button color="success">
      <img src="assets/imagem/trigo.jpg">
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item href="" expand="block" fill="outline">
      <ion-icon name="send" slot="start"></ion-icon>
      <Font color="green"><b>T R I G O</b></Font>
      <ion-badge color="dark" slot="end"></ion-badge>
    </ion-item>
  </ion-list>

  <!--UVA-->
  <BR>
  <ion-fab vertical="start" size="large">
    <ion-fab-button color="success">
      <img src="assets/imagem/uva.jpg">
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item href="" expand="block" fill="outline">
      <ion-icon name="send" slot="start"></ion-icon>
      <Font color="green"><b>U V A</b></Font>
      <ion-badge color="dark" slot="end"></ion-badge>
    </ion-item>
  </ion-list>
</ion-content>